node_modules/
.env
.env.*
**/.env
**/.env.*
dist/
build/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
npm-debug.log*
serviceAccountKey.json
create-admin.ts
target/
kubernetes/secrets.local.yaml
kubernetes/*.local.yaml
kubernetes/*.local.yml
healthmate-secrets.yaml